<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>CTG</title>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="css/my.css">
    <link rel="stylesheet" type="text/css" href="css/button.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet"> 

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>

<body onload="myFunction()" style="margin:0;">

<div id="loader">

  <div class='body'>
  <span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </span>
  <div class='base'>
    <span></span>
    <div class='face'></div>
  </div>
</div>
<div class='longfazers'>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
<div id="l">
	<h1>Redirecting</h1>
</div>

</div>
<div id="page" style="display:none; color: black; text-align: center;" class="animate-bottom">
<div id="myDiv">
  <nav class="navbar navpos navbar-expand-lg navbar-light bg-light">
  <img src="logo.png" height="40px" width="40px">&nbsp;&nbsp;
  <a class="navbar-brand" href="#">Connect To Grow</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link navfont" href="/">HOME <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link navfont" href="{% url 'profile' %}">Profile</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle navfont" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          My ACCOUNT
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">ACTION</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
        </div>
      </li>
    </ul>
  </div></nav>

  <div id="searchbar">
  <form method="post">
  	<input type="text" class="searchbar" name="search" placeholder="Search Here..">
  	<button>Search</button>
  </form>
</div>


  <div id="ctg0">
  	<img src="logo2.png" height="40%" width="40%">
  </div>

 	<center>
 	 <div id="ctg1">
  		<h2></h2>
  	 </div>
    </center>

  <div id="ctg2">
  <h5>	lorem ipsum cbskjcdskfnslkgfjdslkgjsldgjad;lfjasdhvshavxgshvcsacsacsacscdvdbfngnhgkmhmnfg</h5>
  </div>

  </div>

      <!-- What we do -->

        <div class="whyctg">
          <div class="service-header">
              <center>
               <h1 class="head-service">What We Do?</h1>
              </center>
          </div>
          <div class="head-line">
            <hr width="50%">
          </div>

          <div class="caption">
            <center>
              <font size="5px">"We connect dreams to make dreams come true!"</font>
            </center>
          </div>
          <br><br>
          <div class="row">
            
            <div class="col-sm-5 padding-left">
              <div class="shadow pad-10">
                <i class="fa fa-hands-helping ficons theme-color"></i>
                <p class="para"> Connect to grow is an apt platform for all the budding startups searching for resources.</p>
              </div>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-5 padding-right">
              <div class="shadow pad-10">
                <i class="fa fa-hands-helping ficons theme-color"></i>
                <p class="para"> We help you connect to the required services with hassle-free processing and accurate information. </p>
              </div>
            </div>

          </div>  
          <div class="row">
            
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <img class= "ctg-icon toggle" src="logo.png">
            </div>
            <div class="col-sm-4"></div>

          </div>  
          <div class="row">
            
            <div class="col-sm-5 padding-left">
              <div class="shadow pad-10">
                <i class="fa fa-hands-helping ficons theme-color"></i>
                <p class="para">Our aim is to develop an environment to nurture the growth of the upcoming startups. Through connect to grow, we connect startups on a single network.</p>
              </div>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-5 padding-right">
              <div class="shadow pad-10">
                <i class="fa fa-hands-helping ficons theme-color"></i>
                <p class="para">We also cater the requirements of freelancers and interns by providing them a variety of domains. </p>
              </div>
            </div>

          </div>  



        </div>


      <!--End -->
      <br><br>
      <hr class="hr-pen">
  <!--Ouer Services -->
      <br><br>
      <div class="services">
          <div class="service-header">
            <center>
             <h1 class="head-service">Our Services</h1>
           </center>
          </div>
          <div class="head-line">
            <hr width="50%">
          </div>
          <div class="main-cont">
            
            <div class="row">
                <div class="col-sm-6 pad padding-left">
                  <div class="development pad-10 shadow">
                    <div class="row">
                      <div class="col-sm-4 pad-left rgborder">
                        <i class="fa fa-laptop ficons"></i>
                      </div>
                      <div class="col-sm-8 pad-right">
                        <h3 class="sub-heading theme-color">DEVELOPMENT</h2>
                        <p class="para">Does your product need a technical developer that develops it according to your need?? 
  We help you find the best service provider to cater your need.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 pad padding-right">
                   <div class="branding pad-10 shadow">
                    <div class="row">
                      <div class="col-sm-4 pad-left rgborder">
                        <i class="fa fa-paint-brush ficons"></i>
                      </div>
                      <div class="col-sm-8 pad-right">
                        <h3 class="sub-heading theme-color">BRANDING AND DESIGNING</h2>
                        <p class="para">Facing troubles in designing and branding of your product? 
  Connect to Grow connects you to your required domain of through the our precise search results and verified service providers. </p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
             <div class="row">
                 <div class="col-sm-6 pad padding-left">
                  <div class="development pad-10 shadow">
                    <div class="row">
                      <div class="col-sm-4 pad-left rgborder">
                        <i class="fa fa-line-chart ficons"></i>
                      </div>
                      <div class="col-sm-8 pad-right">
                        <h3 class="sub-heading theme-color">SEO & Digital Marketing</h2>
                        <p class="para">Is the new age digital marketing strategy not your arena and your startup needs a marketing expert? 
We help you pick the best for you.  Select the service provider from our website.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 pad padding-right">
                   <div class="branding pad-10 shadow">
                    <div class="row">
                      <div class="col-sm-4 pad-left rgborder">
                        <i class="fa fa-gavel ficons"></i>
                      </div>
                      <div class="col-sm-8 pad-right">
                        <h3 class="sub-heading theme-color">Legal Services</h2>
                        <p class="para">Legal services is a troublesome arena for a startup today where every step from registration  to a product launch requires legal documentation. We provide you with hassle free legal assistance you require for your startup.</p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 pad padding-left">
                  <div class="development pad-10 shadow">
                    <div class="row">
                      <div class="col-sm-4 pad-left rgborder">
                        <i class="fa fa-envelope ficons"></i>
                      </div>
                      <div class="col-sm-8 pad-right">
                        <h3 class="sub-heading theme-color">Email & Chat Services</h2>
                        <p class="para">" The heart of the product lies in its advertising." 
Connect to Grow connects you to the best of the advertising professionals.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 pad padding-right">
                   <div class="branding pad-10 shadow">
                    <div class="row">
                      <div class="col-sm-4 pad-left rgborder">
                        <i class="fa fa-comments ficons"></i>
                      </div>
                      <div class="col-sm-8 pad-right">
                        <h3 class="sub-heading theme-color">SMS APIs</h2>
                        <p class="para">We provide you with the SMS services you need as a startup for multiple uses. 
</p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 pad padding-left">
                  <div class="development pad-10 shadow">
                    <div class="row">
                      <div class="col-sm-4 pad-left rgborder">
                        <i class="fa fa-calendar ficons"></i>
                      </div>
                      <div class="col-sm-8 pad-right">
                        <h3 class="sub-heading theme-color">Event Management</h2>
                        <p class="para">Organise your events and and be up-to-date with reminders and event management service of Connect to  Grow.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 pad padding-right">
                   <div class="branding pad-10 shadow">
                    <div class="row">
                      <div class="col-sm-4 pad-left rgborder">
                        <i class="fa fa-user ficons"></i>
                      </div>
                      <div class="col-sm-8 pad-right">
                        <h3 class="sub-heading theme-color">Mentorship</h2>
                        <p class="para">Mentoring is an indispensable requirement in a startup's growth.
Get mentorship from the famous faces of the startup industry at Connect to Grow.</p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <!-- end of rows -->
          </div>
      </div>
</div>
</body>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</html>
<script>
var myVar;

function myFunction() {
    myVar = setTimeout(showPage, 1000);
}

function showPage() {
  document.getElementById("loader").style.display = "none";
  document.getElementById("page").style.display = "block";
}
</script>

<script  src="js/index.js"></script>

 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>